html {
    background : #F7F7F7;
    align-items: center;
    flex       : 1;
    height     : 100%;
    overflow   : hidden !important;

    [v-cloak] {
        display: none;
    }
}

.page {
    padding-bottom: 1.6rem;
    height        : 100%;
}

.van-cell {
    padding      : 0;
    height       : 1.173333rem !important;
    background   : rgba(237, 240, 253, 1) !important;
    border-radius: .586667rem !important;
    margin-bottom: .666667rem;
}

.login_bottom {
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : 0 1.186667rem;

    span {
        font-size  : .32rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color      : rgba(51, 51, 51, 1);
    }
}