html {
  background: #F7F7F7;
  align-items: center;
  flex: 1;
  height: 100%;
  overflow: hidden !important;
}
html [v-cloak] {
  display: none;
}
.page {
  padding-bottom: 1.6rem;
  height: 100%;
}
.van-button {
  width: 2.48rem;
  height: 1.013333rem;
  border-radius: 0.666667rem !important;
  position: relative;
  background: linear-gradient(to right, #F7CE69, #FCA982);
  border: none !important;
}
.van-button--disabled {
  background: #ccc !important;
}
