html {
  background: #f7f7f7 !important;
  align-items: center;
  flex: 1;
  height: 100%;
}
html [v-cloak] {
  display: none;
}
.page {
  padding-bottom: 1.6rem;
  height: 100%;
}
.van-nav-bar__title {
  color: #fff !important;
}
.van-nav-bar .van-icon {
  color: #fff !important;
}
.detail {
  padding: 0.533333rem;
  background: #fff;
}
.detail .detail_title {
  font-size: 0.4rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
}
.detail .detail_info {
  margin-top: 0.266667rem;
  font-size: 0.346667rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #bebebe;
}
.detail_button {
  position: fixed;
  bottom: 0.266667rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 1.173333rem;
}
.detail_button .van-button {
  background: linear-gradient(to right, #F7CD69, #FCAA81) !important;
  color: #fff !important;
}
